menu "Studio Panel WiFi"

    config ESP_WIFI_SSID
        string "WiFi SSID"
        default ""
        help
            SSID of the WiFi network to connect to.

    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        default ""
        help
            Password for the WiFi network.

    config ESP_WIFI_AUTH_WPA2_PSK
        bool "Require WPA2-PSK"
        default y
        help
            Reject open or WEP networks; require at least WPA2-PSK.

endmenu
